@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

h1,h2,h3,h4,h5,h6{
    font-family: "Outfit", sans-serif;
}
nav a {
  font-family: "Poppins";
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 14px;
  color: #000;
  font-weight: 600;
}

nav .appointment-btn {
  border-radius: 30px;
  padding: 10px 22px;
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: 400;
  background: linear-gradient(
    66deg,
    rgba(0, 201, 80, 1) 34%,
    rgba(19, 143, 68, 1) 54%,
    rgba(19, 143, 68, 1) 79%
  );
  color: white;
}

nav .appointment-btn span {
  color: #fff;
}

nav .appointment-btn svg {
  fill: white;
}

a,p{
    font-family: "Poppins", sans-serif;

}

.bannerhomepage .button1 {
  border-radius: 30px !important;
  padding: 10px 22px;
  font-family: "Poppins" !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
  background: linear-gradient(66deg, rgba(0,201,80,1) 34%, rgba(19,143,68,1) 54%, rgba(19,143,68,1) 79%);
  transition: all 0.3s ease;
}

.bannerhomepage .button1:hover {
  background: linear-gradient(66deg, rgba(0,180,70,1) 34%, rgba(15,120,55,1) 54%, rgba(15,120,55,1) 79%);
  transform: translateY(-2px);
}


.bannerhomepage .button2{
    border-radius: 30px!important;
padding:10px 22px;font-family: "Poppins"!important;
text-transform: capitalize!important;
font-weight: 400!important;
background: #fff;
color:#000
}

.bannerhomepage .button2:hover {
  background: linear-gradient(66deg, rgb(79, 84, 81) 34%, rgb(78, 84, 80) 54%, rgb(73, 77, 74) 79%);
  transform: translateY(-2px);
  color:#fff;
}

.bannerhomepage h1{
    font-size: 58px!important;
     font-family: "Outfit", sans-serif;
     width: 60%!important;
}

.bannerhomepage p{
    font-size: 22px!important;
        font-family: "Poppins", sans-serif;
     width: 70%!important;
}
.tagsline {
    padding: 5px 16px;
    background-color: #fff;
    color: #000 !important;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.dotsbutton button{
    height: 5px!important;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

/* Creating a Utility Class for the animation */
.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}


@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade {
  animation: fade 1s ease-in-out;
}
