@import "tailwindcss";

/* Custom Fade Up Animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Creating a Utility Class for the animation */
.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
} 